<% provide :title, t("pages.nav.home") %>
<div class="center jumbotron">
<h1><%= t "pages.home.welcome" %></h1>
<%= t "pages.about.about_html"%>
<%= link_to t("pages.home.sign_up_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
