<footer class="footer">
  <%= t "pages.footer.footer_html"%>
  <nav>
    <ul>
    <li><%= link_to t("pages.nav.about"), about_path %></li>
    <li><%= link_to t("pages.footer.contact"), contact_path %></li>
    <li><a href="https://news.railstutorial.org/"><%=t"pages.footer.news"%></a></li>
    </ul>
  </nav>
</footer>
